*{
    margin:0;
    padding:0;
    
    
}

.analog-clock{
	padding-top:200px;
    width:130px;
    height:130px;
	font-size:14px;
	font-family:sans-serif;
	
}

#clock-face{
    stroke:black;
    stroke-width:2px;
    fill:white;
}

#h-hand, #m-hand, #s-hand, #s-tail{
    stroke:black;
    stroke-linecap:round;
}

#h-hand{
    stroke-width:3px;
}

#m-hand{
    stroke-width:2px;
}

#s-hand{
    stroke-width:1px;
}

.time-text{
	padding-top:90px;
    font-size:30px;
	font-family:Cursive;
	text-shadow:5px 5px 10px yellow;
	color:white;
	
	
}