 
.image{
	 background-image: url("index.jpg");
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	height : 50vh;
}



