.lead {
  font-size: 18px;
  line-height: 32px;
}

.probootstrap-teacher {
  padding: 20px;
  border: 1px solid #e6e5e5;
  -webkit-transition: .3s all;
  transition: .3s all;
  position: relative;
  top: 0;
  margin-bottom: 20px;
}

.probootstrap-teacher .media {
  margin-bottom: 20px;
}

.probootstrap-teacher .media img {
  border-radius: 50%;
  width: 90px;
  margin: 0 auto;
}

.probootstrap-teacher .text h3 {
	color:green;
  font-size: 20px;
  margin: 0 0 0px 0;
}

.probootstrap-teacher .text p {
	color:green;
  margin-bottom: 10px;
}

.probootstrap-teacher .probootstrap-footer-social li a {
  font-size: 15px;
}

.probootstrap-teacher .probootstrap-footer-social li.twitter a {
  color: #1da1f2;
}

.probootstrap-teacher .probootstrap-footer-social li.facebook a {
  color: #3b5998;
}

.probootstrap-teacher .probootstrap-footer-social li.instagram a {
  color: #e1306c;
}

.probootstrap-teacher .probootstrap-footer-social li.google-plus a {
  color: #dd4b39;
}

.probootstrap-teacher:focus, .probootstrap-teacher:hover {
  top: -10px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}


 .probootstrap-footer-social ul{
	margin:0;
	padding:0;
	position: relative;
	list-style:none outside none;
	
}

.probootstrap-footer-social li{
	display: inline-block;
	padding:5px;
	
}


ul.probootstrap-footer-social li.facebook {
	background-position: 0 -120px;
}

ul.probootstrap-footer-social li.facebook:hover {
	background-position: 0 -150px;
}


ul.probootstrap-footer-social li.googleplus {
	background-position: 0 -300px;
}

ul.probootstrap-footer-social li.googleplus:hover {
	background-position: 0 -330px;
}


ul.probootstrap-footer-social li.linkedin {
	background-position: 0 -540px;
}

ul.probootstrap-footer-social li.linkedin:hover {
	background-position: 0 -570px;
}


ul.probootstrap-footer-social li.twitter {
	background-position: 0 -1140px;
}

ul.probootstrap-footer-social li.twitter:hover {
	background-position: 0 -1170px;
}


ul.probootstrap-footer-social li.github {
	background-position: 0 -1440px;
}

ul.probootstrap-footer-social li.github:hover {
	background-position: 0 -1470px;
}


ul.probootstrap-footer-social li.mail {
	background-position: 0 -1620px;
}

ul.probootstrap-footer-social li.mail:hover {
	background-position: 0 -1650px;
}

ul.probootstrap-footer-social li.instagram {
	background-position: 0 -1680px;
}

ul.probootstrap-footer-social li.instagram:hover {
	background-position: 0 -1710px;
}

.probootstrap-footer-social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}
