*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    font-size:36px;
}

.clock{
    text-align:center;
    width:auto;
    height:auto;
}
body{
	height:200px;
	width:200px;
	background-color:silver;
}