.clk
{

height:220px;
width:400px;
}
table {
    font-family: arial, sans-serif;
font-size:40px;
   border: 2px solid black;
}
th {
color:red;
    border: 2px solid black;
    text-align: left;
    background-color: black ;   
	#dddddd;
}